
@using Newtonsoft.Json
@model SearchViewModel
@{
    ViewData["Title"] = "Index";
}
<p></p>
<div class="col-lg-2">
    <ul>
        @foreach (var item in Model.FieldList.OrderBy(c=>c.Key))
        {
            <li>
                @item.Key &nbsp; <input type="text" id="searchKey_@item.Key" name="searchKey_@item.Key"/>
            </li>
        }
    </ul>
    <div>
        <button>Ara</button>
    </div>
</div>
<div class="col-lg-10">
    <table style="width: 100%;font-size: 10px;font-family: sans-serif" border="1px">
        <tr style="background: aliceblue">
            <td>
                &nbsp;
            </td>
            @foreach (var item in Model.Documents.First())
            {

                <td style="word-wrap: break-word; width: 100px"> @item.Key</td>

            }
        </tr>
        @foreach (var item in Model.Documents)
        {
            <tr>
                <td>
                    <button id="btn_@item["id"]">Open</button>
                    <br />
                    <code id="code_@item["id"]" style="display: none"> </code>
                </td>
                @foreach (var ss in item)
                {
                    string val = string.Format("{0}", ss.Value);
                    <td style="word-wrap: break-word; width: 100px">@(val.Substring(0, val.Length > 50 ? 50 : val.Length))</td>
                }
            </tr>

        }
    </table>
</div>
<script>
    $(document).ready(function () {
        $("button[id^=btn_]").click(function () {
            var codes = $("#" + $(this).attr("id").replace("btn_", "code_"));
            var id = $(this).attr("id").replace("btn_", "");
            if (codes.is(':visible')) {
                $(this).text("open")
                codes.hide();
            } else {
                $.get("search/GetJsonObject", { id: id }).done(function (data) {
                    codes.text(data.message);
                });
                $(this).text("close")
                codes.show();
            }

        });
    });
</script>

