
@using Newtonsoft.Json
@model SearchViewModel
@{
    ViewData["Title"] = "Index";
}
<p></p>
<table style="width: 100%;font-size: 10px;font-family: sans-serif" border="1px">
    <tr style="background: aliceblue">
        <td>
            &nbsp;
        </td>
        @foreach (var item in Model.Documents.First())
        {

            <td style="word-wrap: break-word; width: 100px"> @item.Key</td>

        }
    </tr>
    @foreach (var item in Model.Documents)
    {
        <tr>
            <td>
                <button id="btn_@item["id"]">Open</button>
                <br/>
                <code id="code_@item["id"]" style="display: none">@string.Join(",", item.Select(x => string.Format("{0}:{1}", x.Key, x.Value))) </code>
            </td>
            @foreach (var ss in item)
            {
                string val = string.Format("{0}", ss.Value);
                <td style="word-wrap: break-word; width: 100px">@(val.Substring(0, val.Length > 50 ? 50 : val.Length))</td>
            }
        </tr>

    }
</table>

<script>
    $(document).ready(function () {
        $("button[id^=btn_]").click(function () {
            if ($("#" + $(this).attr("id").replace("btn_", "code_")).is(':visible')) {
                $(this).text("open")
                $("#" + $(this).attr("id").replace("btn_", "code_")).hide();
            } else {
                $(this).text("close")
                $("#" + $(this).attr("id").replace("btn_", "code_")).show();
            }
                
        });
    });
</script>

